<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div uib-alert ng-class="alertType" ng-show="alertType" close="closeAlert()">
            <p ng-bind-html="alertMessage"></p>
        </div>

        <h1>Login</h1>

        <form ng-submit="login(user)">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Username" ng-model="user.username">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>