<div ui-view="header"></div>

<h1>Update Win</h1>

<div uib-alert ng-class="alertType" ng-show="alertType" close="closeAlert()">
    <p ng-bind-html="alertMessage"></p>
</div>

<form ng-submit="updateWin(win._id)">
    <div class="form-group">
        <label for="winSessionId">Win Session ID</label>
        <input type="text" class="form-control" id="winSessionId" ng-model="win.winSessionId" placeholder="Win Session ID"
            required>
        <label for="winSite">Site</label>
        <select class="form-control" id="winSite" ng-model="win.site" required>
            <option ng-repeat="site in sites" ng-value="site.siteID">{{ site.siteName }}</option>
        </select>
        <label for="winPrize">Prize</label>
        <select class="form-control" id="winPrize" ng-model="win.prize" required>
            <option ng-repeat="prize in prizes" ng-value="prize._id">{{ prize.prizeName }}</option>
        </select>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
    <button type="button" ng-click="back()" class="btn btn-default">Cancel</button>
</form>