<script type="text/ng-template" id="confirmModal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Delete Win!</h3>
    </div>
    <div class="modal-body" id="modal-body">
        Are you sure you want to delete this win?
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="ok()">Confirm</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>

<div uib-alert ng-class="alertType" ng-show="alertType" close="closeAlert()">
    <p ng-bind-html="alertMessage"></p>
</div>

<h1>Wins</h1>

<a ui-sref="win.add" class="btn btn-primary">Add Win</a>

<table class="table table-striped table-bordered">
    <tr>
        <th>#</th>
        <th>Win Session ID</th>
        <th>Site</th>
        <th>Prize</th>
        <th>Win Date</th>
        <th>Options</th>
    </tr>
    <tr ng-repeat="win in wins">
        <td>{{ $index + 1 }}</td>
        <td>{{ win.winSessionId }}</td>
        <td>{{ win.siteId.siteName }}</td>
        <td>{{ win.sitePrizeId.prizeName }}</td>
        <td>{{ win.createdAt | date: 'EEE, dd MMM yyyy h:mm:ss a' }}</td>
        <td>
            <a ui-sref="win.edit({ winID: win._id })" class="btn btn-default">Edit</a>
            <a href="" ng-click="openConfirmModal('sm', win._id)" class="btn btn-default">Delete</a>
        </td>
    </tr>
</table>