<script type="text/ng-template" id="confirmModal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Delete User!</h3>
    </div>
    <div class="modal-body" id="modal-body">
        Are you sure you want to delete this user?
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="ok()">Confirm</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>

<div uib-alert ng-class="alertType" ng-show="alertType" close="closeAlert()">
    <p ng-bind-html="alertMessage"></p>
</div>

<h1>Users</h1>

<a ui-sref="user.add" class="btn btn-primary">Add User</a>

<table class="table table-striped table-bordered">
    <tr>
        <th>#</th>
        <th>Type</th>
        <th>Username</th>
        <th>Email</th>
        <th>Options</th>
    </tr>
    <tr ng-repeat="user in users">
        <td>{{ $index + 1 }}</td>
        <td>{{ user.userType.userType }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>
            <a ui-sref="user.edit({ userID: user._id })" class="btn btn-default">Edit</a>
            <a href="" ng-click="openConfirmModal('sm', user._id)" class="btn btn-default">Delete</a>
        </td>
    </tr>
</table>