<div ui-view="header"></div>

<h1>Update User</h1>

<div uib-alert ng-class="alertType" ng-show="alertType" close="closeAlert()">
    <p ng-bind-html="alertMessage"></p>
</div>

<form ng-submit="updateUser(user._id)">
    <div class="form-group">
        <label for="userType">Type</label>
        <select class="form-control" id="userType" ng-model="user.userType" required>
            <option ng-repeat="userType in userTypes" ng-value="userType._id">{{ userType.userType }}</option>
        </select>
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" ng-model="user.username" placeholder="Username" required>
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" ng-model="user.email" placeholder="Email" required>
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" ng-model="user.password" placeholder="Password"
            required>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
    <button type="button" ng-click="back()" class="btn btn-default">Cancel</button>
</form>