<script type="text/ng-template" id="confirmModal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Delete Site!</h3>
    </div>
    <div class="modal-body" id="modal-body">
        Are you sure you want to delete this site?
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="ok()">Confirm</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>

<div uib-alert ng-class="alertType" ng-show="alertType" close="closeAlert()">
    <p ng-bind-html="alertMessage"></p>
</div>

<h1>Sites</h1>

<a ui-sref="site.add" class="btn btn-primary">Add Site</a>

<div>
    Search: <input type="text" class="form-control" ng-model="search.siteName" placeholder="Site Name">
</div>

<table class="table table-striped table-bordered">
    <tr>
        <th>#</th>
        <th>Site</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Options</th>
    </tr>
    <tr ng-repeat="site in sites | filter: search">
        <td>{{ $index + 1 }}</td>
        <td>{{ site.siteName }}</td>
        <td>{{ site.siteStartDate | date: 'EEE, dd MMM yyyy h:mm:ss a' }}</td>
        <td>{{ site.siteEndDate | date: 'EEE, dd MMM yyyy h:mm:ss a' }}</td>
        <td>
            <a ui-sref="site.edit({ siteID: site.siteID })" class="btn btn-default">Edit</a>
            <a href="" ng-click="openConfirmModal('sm', site.siteID)" class="btn btn-default">Delete</a>
        </td>
    </tr>
</table>