<div ui-view="header"></div>

<h1>Update Site</h1>

<div uib-alert ng-class="alertType" ng-show="alertType" close="closeAlert()">
    <p ng-bind-html="alertMessage"></p>
</div>

<form ng-submit="updateSite(site._id, site)">
    <div class="form-group">
        <label for="siteName">Site Name</label>
        <input type="text" class="form-control" id="siteName" ng-model="site.siteName" placeholder="Site Name" required>
        <label for="latLong">Lat & Long</label>
        <input type="text" class="form-control" id="latLong" ng-model="site.geofenceLatLong" placeholder="Lat & Long"
            required>
        <label for="startDate">Start Date</label>
        <p class="input-group">
            <datetimepicker ng-model="site.startDate" date-format="{{format}}"
                date-options="dateOptions" datepicker-append-to-body="false" readonly-date="false"
                disabled-date="false" hidden-time="false" hidden-date="false" name="datetimepicker" show-spinners="true"
                readonly-time="false" date-opened="dateOpened" show-button-bar="false">
            </datetimepicker>
        </p>
        <label for="endDate">End Date</label>
        <p class="input-group">
            <datetimepicker ng-model="site.endDate" date-format="{{format}}"
                date-options="dateOptions" datepicker-append-to-body="false" readonly-date="false"
                disabled-date="false" hidden-time="false" hidden-date="false" name="datetimepicker" show-spinners="true"
                readonly-time="false" date-opened="dateOpened" show-button-bar="false">
            </datetimepicker>
        </p>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
    <button type="button" ng-click="back()" class="btn btn-default">Cancel</button>
</form>