<div ui-view="header"></div>

<h1>Add Site</h1>

<div uib-alert ng-class="alertType" ng-show="alertType" close="closeAlert()">
    <p ng-bind-html="alertMessage"></p>
</div>

<form ng-submit="addSite(site)">
    <div class="form-group">
        <label for="siteName">Site Name</label>
        <input type="text" class="form-control" id="siteName" ng-model="site.siteName" placeholder="Site Name">
        <label for="latLong">Lat & Long</label>
        <input type="text" class="form-control" id="latLong" ng-model="site.geofenceLatLong" placeholder="Lat & Long">
        <label for="startDate">Start Date</label>
        <p class="input-group">
            <input type="text" class="form-control" id="startDate" uib-datepicker-popup="{{format}}" ng-model="site.siteStartDate"
                is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"
                alt-input-formats="altInputFormats" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
        <label for="endDate">End Date</label>
        <p class="input-group">
            <input type="text" class="form-control" id="endDate" uib-datepicker-popup="{{format}}" ng-model="site.siteEndDate"
                is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"
                alt-input-formats="altInputFormats" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
    <button type="button" ng-click="back()" class="btn btn-default">Cancel</button>
</form>