<script type="text/ng-template" id="confirmModal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Delete Prize!</h3>
    </div>
    <div class="modal-body" id="modal-body">
        Are you sure you want to delete this prize?
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="ok()">Confirm</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>

<div uib-alert ng-class="alertType" ng-show="alertType" close="closeAlert()">
    <p ng-bind-html="alertMessage"></p>
</div>

<h1>Prizes</h1>

<a ui-sref="prize.add" class="btn btn-primary">Add Prize</a>

<table class="table table-striped table-bordered">
    <tr>
        <th>#</th>
        <th>Type</th>
        <th>Prize</th>
        <th>Options</th>
    </tr>
    <tr ng-repeat="prize in prizes">
        <td>{{ $index + 1 }}</td>
        <td>{{ prize.prizeType }}</td>
        <td>{{ prize.prizeName }}</td>
        <td>
            <a ui-sref="prize.edit({ prizeID: prize._id })" class="btn btn-default">Edit</a>
            <a href="" ng-click="openConfirmModal('sm', prize._id)" class="btn btn-default">Delete</a>
        </td>
    </tr>
</table>