<script type="text/ng-template" id="confirmModal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Delete Allocation!</h3>
    </div>
    <div class="modal-body" id="modal-body">
        Are you sure you want to delete this allocation?
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="ok()">Confirm</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>

<div uib-alert ng-class="alertType" ng-show="alertType" close="closeAlert()">
    <p ng-bind-html="alertMessage"></p>
</div>

<h1>Allocations</h1>

<a ui-sref="allocation.add" class="btn btn-primary">Add Allocation</a>

<div>
    Search: <input type="text" class="form-control" ng-model="search.siteId.siteName" placeholder="Site Name">
</div>

<table class="table table-striped table-bordered">
    <tr>
        <th>#</th>
        <th>Site</th>
        <th>Prize</th>
        <th>Quantity</th>
        <th>Quantity Left</th>
        <th>Odds</th>
        <th>Options</th>
    </tr>
    <tr ng-repeat="allocation in allocations | filter: search">
        <td>{{ $index + 1 }}</td>
        <td>{{ allocation.siteId.siteName }}</td>
        <td>{{ allocation.prizeId.prizeName }}</td>
        <td>{{ allocation.quantityAllocated }}</td>
        <td>{{ allocation.quantityLeft }}</td>
        <td>{{ allocation.odds }}</td>
        <td>
            <a ui-sref="allocation.edit({ allocationID: allocation._id })" class="btn btn-default">Edit</a>
            <a href="" ng-click="openConfirmModal('sm', allocation._id)" class="btn btn-default">Delete</a>
        </td>
    </tr>
</table>