<div ui-view="header"></div>

<h1>Add Allocation</h1>

<div uib-alert ng-class="alertType" ng-show="alertType" close="closeAlert()">
    <p ng-bind-html="alertMessage"></p>
</div>

<form ng-submit="addAllocation(allocation)">
    <div class="form-group">
        <label for="allocationSite">Site</label>
        <select class="form-control" id="allocationSite" ng-options="site as site.siteName for site in sites track by site.siteID"
            ng-model="allocation.site" required></select>
        <label for="allocationPrize">Prize</label>
        <select class="form-control" id="allocationPrize" ng-options="prize as prize.prizeName for prize in prizes track by prize._id"
            ng-model="allocation.prize" required></select>
        <label for="allcoationQuantityAllocated">Quantity Allocated</label>
        <input type="number" class="form-control" id="allcoationQuantityAllocated" ng-model="allocation.quantityAllocated"
            placeholder="Quantity Allocated" required>
        <label for="allcoationQuantityLeft">Quantity Left</label>
        <input type="number" class="form-control" id="allcoationQuantityLeft" ng-model="allocation.quantityLeft"
            placeholder="Quantity Left" required>
        <label for="allcoationOdds">Odds</label>
        <input type="number" class="form-control" id="allcoationOdds" ng-model="allocation.odds" placeholder="Odds">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
    <button type="button" ng-click="back()" class="btn btn-default">Cancel</button>
</form>