<div ui-view="header"></div>

<h1>Update Allocation</h1>

<div class="btn-group">
    <button class="btn btn-primary" ng-click="prevAlloc(allocation._id)" ng-disabled="prevAllocDisabled">PREV</button>
    <button class="btn btn-primary" ng-click="nextAlloc(allocation._id)" ng-disabled="nextAllocDisabled">NEXT</button>
</div>

<div uib-alert ng-class="alertType" ng-show="alertType" close="closeAlert()">
    <p ng-bind-html="alertMessage"></p>
</div>

<form ng-submit="updateAllocation(allocation._id)">
    <div class="form-group">
        <label for="allocationSite">Site</label>
        <select class="form-control" id="allocationSite" ng-model="allocation.site" required>
            <option ng-repeat="site in sites" ng-value="site.siteID">{{ site.siteName }}</option>
        </select>
        <label for="allocationPrize">Prize</label>
        <select class="form-control" id="allocationPrize" ng-model="allocation.prize" required>
            <option ng-repeat="prize in prizes" ng-value="prize._id">{{ prize.prizeName }}</option>
        </select>
        <label for="allcoationQuantityAllocated">Quantity Allocated</label>
        <input type="number" class="form-control" id="allcoationQuantityAllocated" ng-model="allocation.quantityAllocated"
            placeholder="Quantity Allocated" required>
        <label for="allcoationQuantityLeft">Quantity Left</label>
        <input type="number" class="form-control" id="allcoationQuantityLeft" ng-model="allocation.quantityLeft"
            placeholder="Quantity Left" required>
        <label for="allcoationOdds">Odds</label>
        <input type="text" class="form-control" id="allcoationOdds" ng-model="allocation.odds" placeholder="Odds">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
    <button type="button" ui-sref="allocation.list" class="btn btn-default">Cancel</button>
</form>